<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level [%logger{20}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/profiler.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/profiler-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%logger{36}] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO"> -- Configure log level out of DEBUG, INFO, WARN, ERROR
        <appender-ref ref="CONSOLE"/> -- prints in console output 
        <appender-ref ref="FILE"/> -- prints in log file
    </root> -- Configure log level at run time using: java -Dlogging.level.org.openmetadata=DEBUG -jar app.jar
</configuration>
